@charset "utf-8";

/* 내용관리 */
#ctt {margin:10px 0;padding:20px;background:#fff}
.ctt_admin {text-align:right}
#ctt header h1 {position:absolute;font-size:0;line-height:0;overflow:hidden}
#ctt_con {padding:10px 0;line-height:1.6em; color: #555555}
#ctt_con h2 {font-size: 1.2rem; color: #0D3DAD; font-weight: 700; margin-top: 20px;}
#ctt_con h3 {font-size: 0.9rem; color: #0D3DAD; font-weight: 400; margin-top: 5px; color: #000000}

#ctt_con img{max-width:100%;height:auto}
.ctt_img {text-align:center}