@charset "utf-8";
.wetoz {margin:10px 0}
.wetoz:after {display:block;visibility:hidden;clear:both;content:''}
.wetoz .form-control,.wetoz .well,.wetoz .btn,.wetoz .alert,.wetoz .input-group-addon,.wetoz .label,.wetoz .panel{border-radius:0!important}
.wetoz hr.section-division{display:block;visibility:hidden;clear:both;content:'';height:10px;padding:0;margin:0}
.wetoz table caption, .wz-ajax-content caption {padding:0;font-size:0;line-height:0;overflow:hidden}
.wetoz .text-red{color:#d9534f}
.wetoz .text-blue{color:#428bca}
.wetoz .ym-title{margin:0 4px}
.wetoz .text-number{font-family:'Montserrat'}
.wetoz .text-hangul{font-family:'Nanum Gothic'}
.wetoz small.text-hangul{font-size:11px;letter-spacing:-1px;font-weight:400}
.wetoz small.text-dotum{
/*	font-family:'돋움',Dotum,Verdana,applegothic;*/
	font-size:13px;letter-spacing:-1px;font-weight:400}

.wetoz .bx-calendar {padding:10px 10px 0;}
.wetoz .bx-calendar .table {margin-bottom:0;}
.wetoz .tbl-canlendar {}
.wetoz .tbl-canlendar th{width:14.285714%}
.wetoz .tbl-canlendar .sunday,
.wetoz .tbl-canlendar .box-sun {background-color:#FFFAF6}
.wetoz .tbl-canlendar .box-sun .day{color:#d9534f}
.wetoz .tbl-canlendar .saturday,
.wetoz .tbl-canlendar .box-sat {background-color:#F6FAFF}
.wetoz .tbl-canlendar .box-sat .day{color:#428bca}
.wetoz .tbl-canlendar .box-today .day{color:#333}

.wetoz .tbl-canlendar td.imposs{background-color:#f5f5f5}
.wetoz .tbl-canlendar td.imposs .day{color:#7d7d7d}
.wetoz .txheader{
/*	font-family:'돋움',Dotum,Verdana,applegothic;*/
	font-size:13px;letter-spacing:-1px;font-weight:400}
.wetoz .label{padding:.2em .3em}
.wetoz .badge{padding:2px 5px}
.wetoz .rooms.list-group{margin-bottom:0}
.wetoz .rooms.list-group .list-group-item{border:none;padding:5px 0}
.wetoz .rooms.list-group .list-group-item .sbj{padding:0 2px}
.wetoz .rooms.list-group .list-group-item .badge.text-number{font-weight:400;font-size:11px}
.wetoz .day{font-family:'Montserrat';font-size:11px;margin:0;border-bottom:0px dotted #ece7e7;padding-bottom: 3px;}
.wetoz .mini .day{border-bottom:0px;}
.wetoz .day .m-remain-cnt{
/*	font-family:'돋움',Dotum,Verdana,applegothic;*/
	font-size:13px;letter-spacing:-1px;font-weight:400}
.wetoz .wh10{height:10px}
.wetoz .wh20{height:20px}
.wetoz .wh30{height:30px}
.wetoz .modal.in .modal-dialog{z-index:9999999}
.wetoz .modal{text-align:center}

@media screen and (min-width: 768px) {
.wetoz .modal:before{display:inline-block;vertical-align:middle;content:" ";height:100%}
}

.wetoz .tbl-canlendar.mini > tbody > tr > td{padding:0;vertical-align: middle;}
.wetoz .tbl-canlendar.mini > tbody > tr > td .day{padding:5px;display:block}
.wetoz .tbl-canlendar.mini > tbody > tr > td .rnfo{cursor:pointer}

@media (max-width: 767px) {
.wetoz .tbl-canlendar > tbody > tr > td{padding:0}
.wetoz .tbl-canlendar > tbody > tr > td .day{padding:10px;display:block}
.wetoz .tbl-canlendar > tbody > tr > td .rnfo{cursor:pointer}
}

.wetoz .modal-dialog{display:inline-block;text-align:left;vertical-align:middle}
.wetoz .modal-title{font-size:14px}
.wetoz #frm-room-select td{cursor:pointer}
.wetoz .font-size-sm{
/*	font-family:'돋움',Dotum,Verdana,applegothic;*/
	font-size:12px;letter-spacing:-1px;font-weight:400}
.wetoz .font-color-gray{color:#636363}
.wetoz .form-group-sm select.form-control.h20{font-size:11px;letter-spacing:-1px;font-weight:400;padding:2px 5px}
.wetoz .table > tbody > tr.tr-h30 > td{height:30px;line-height:30px}
.wetoz .cal_room_del{cursor:pointer}
.wetoz .input-group-addon{font-size:12px}
.wetoz .margin-bottom-0{margin-bottom:0}
.wetoz .margin-bottom-10{margin-bottom:10px}
.wetoz .bs-callout{padding:0;margin:20px 0}
.wetoz .bs-callout-info{border-left-color:#1b809e}
.wetoz .bs-callout-info h4{color:#1b809e}
.wetoz .bs-callout-warning{border-left-color:#aa6708}
.wetoz .bs-callout-warning h4{color:#aa6708}
.wetoz .bs-callout h4{margin-top:0;margin-bottom:10px}
.wetoz input[type="radio"],.wetoz input[type="checkbox"]{margin:0;margin-top:0 \9}
.wetoz .form-group{margin-bottom:10px}
.wetoz .form-group.form-group-last{margin-bottom:0}
.wetoz .rooms .list-group-item{background-color:rgba(255,255,255,0)}
.wetoz select.cal_room_cnt{width:60px}
.wetoz select.cal_room_day{width:85px}
.wetoz select.cal_room_adult,.wetoz select.cal_room_child,.wetoz select.cal_room_baby{width:90px}
.ly-blind{z-index:1000;border:none;margin:0;padding:0;width:100%;height:100%;top:0;left:0;opacity:.6;cursor:default;position:fixed;background-color:#000}
.ly-blind .progressbar{position:absolute;top:50%;left:50%;width:215px;height:5px;margin:-2px 0 0 -107px}
.wetoz .radio-line label{margin-right:20px;line-height:24px;cursor:pointer}
.wetoz .res-message-title{display:block;margin:5px 0 10px;font-size:14px;letter-spacing:-1px}
.wetoz .pay-bank-notice .desc{margin:5px 0;padding:0;list-style:none}
.wetoz .pay-bank-notice .desc li{padding:3px 0 2px 10px}
.wetoz .pagination{margin:5px 0 20px}
.wetoz .wz-desc{margin:7px 0}

.wetoz .select-xs {padding:5px 3px !important;}

.wetoz .hoday-text {
/*	font-family:'돋움',Dotum,Verdana,applegothic;*/
	font-size:12px;letter-spacing:-1px;color: #939393;padding:6px 0 0px;}
.wetoz .hoday-text.day-S {color:#ff9307}
.wetoz .hoday-text.day-F {color:#ff0707}
.wetoz .hoday-text.day-red {color:red}

.wzb_pops {position:absolute;border:1px solid #e9e9e9;background:#fff;z-index:999999;}
.wzb_pops_con {}
.wzb_pops_footer {padding:7px 0;background:#606578;color:#fff;text-align:right}
.wzb_pops_footer button {margin-right:5px;padding:5px 10px;border:0;background:#434555;color:#fff}

.wz-ajax-content h2 {border-bottom:1px solid #dfdfdf;margin:10px 0 0px;padding:3px 0 15px 15px;font-size:12px;font-weight:bold;}
.wz-ajax-content .content-wrap {padding:10px;}

#frm-room-list table td {cursor:pointer}
#frm-room-list table tr.on {background-color: #394142;color:#fff;font-weight:bold;background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-image: -o-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);-webkit-background-size: 40px 40px;
    background-size: 40px 40px;}

.rm-plist {margin:0;padding:0;}
.rm-plist li {list-style:none;padding:2px 0}
.wz-label {font-family:'dotum';font-size:11px;font-weight:400;letter-spacing:-1px;height:auto;background: #444;color: #fff;text-decoration: none;vertical-align: middle;line-height:1.6em;padding:0 7px;display:inline-block;border:0;border-radius:3px;}
.wz-label.red {background:red;color: #fff}
.wz-label.gray {background:#bdbdbd;color:#000}

.wetoz .panel > .table-responsive > .table-bordered > tbody > tr.on > td {border-top:2px solid #838cb9;border-bottom:2px solid #838cb9}
.wetoz .panel > .table-responsive > .table-bordered > tbody > tr.on > td:first-child {border-left:4px solid #838cb9;}
.wetoz .panel > .table-responsive > .table-bordered > tbody > tr.on > td:last-child {border-right:3px solid #838cb9;}

.wetoz .navi-wrap {position:relative}
.wetoz .navi-wrap .button-list {position:absolute;bottom:0;right:0;}

.left-padding30 {padding: 0 0 0 30px;}
